{#def
from examples.models import User
user: User
#}
<h1>Hello {{ user.name }}</h1>
{% if user.is_admin %}
  <p>Admin access</p>
{% endif %}
<ul>
{% for item in user.items %}
  <li>{{ item.title }}{% if item.done %} (done){% endif %}</li>
{% endfor %}
</ul>
